{% extends 'blog/base.html' %}
{% load staticfiles %}

{% block content %}
    <section id="page-breadcrumb">
        <div class="vertical-center sun">
             <div class="container">
                <div class="row">
                    <div class="action">
                        <div class="col-sm-12">
                            <h1 class="title">정산</h1>
                            <p>빚을 청산할 시간입니다!</p>
                        </div>
                     </div>
                </div>
            </div>
        </div>
   </section>
{% endblock content %}