{% extends 'blog/base.html' %} 
{% load staticfiles %} 
{% block content %}
<section id="page-breadcrumb">
    <div class="vertical-center sun">
        <div class="container">
            <div class="row">
                <div class="action">
                    <div class="col-sm-12">
                        <h1 class="title">정산</h1>
                        <p>빚을 청산할 시간입니다!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="services" class="padding wow" data-wow-duration="1000ms" data-wow-delay="300ms">
    <div class="container">
    <a href="{% url 'meeting_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
    <table class="table table-striped table-bordered table-hover">
        <caption>모임목록</caption>
        <thead>
            <tr>
                <th>모임날짜</th>
                <th>모임위치</th>
                <th>차수</th>
                <th>총액</th>
            </tr>
        </thead>
        <tbody>

    {% for meeting in meetings %}

            <tr class="success">
                <td><a href="{% url 'meeting_detail' meeting.id %}">{{ meeting.meeting_date|date:"Y년 M d일" }}</a></td>
                <td>{{ meeting.location }}</td>
                <td>{{ meeting.meeting_count }}</td>
                <td>{{ meeting.daily_total }}</td>
            </tr>

            <!--
            <tr class="danger">
                <td>2</td>
                <td>데이터2</td>
                <td>데이터3</td>
                <td>데이터4</td>
                <td>데이터5</td>
            </tr>
            !-->
    {% endfor %}
        </tbody>
    </table>

    {% for member in members %}
    {% if forloop.counter = 1 %}
        <div class="row">
            <div class="portfolio-items">
    {% endif %}
                <div class="col-xs-6 col-sm-4 col-md-4 portfolio-item branded logos">
                    <div class="portfolio-wrapper">
                        <div class="portfolio-single">
                            <div class="portfolio-thumb">
                                <img src="/uploaded_files/{{ member.photo }}" class="img-responsive" alt="" onerror="javascript:this.src = '{% static 'images/home/icon1.png' %}'">
                            </div>
                            <h4>{{ member.name }}</h4>
                            <p class="text-muted">{{ member.rank }}</p>
                            <p class="text-muted">{{ member.remark }}</p>
                        </div>
                    </div>
                </div>
    {% if forloop.counter|divisibleby:3 %}
            </div>
        </div>
        <div class="row">
            <div class="portfolio-items">

    {% endif %}

    {% endfor %}


</section>
{% endblock content %}