{% extends 'blog/base.html' %}
{% load staticfiles %}

{% block content %}
    <section id="page-breadcrumb">
        <div class="vertical-center sun">
             <div class="container">
                <div class="row">
                    <div class="action">
                        <div class="col-sm-12">
                            <h1 class="title">사진</h1>
                            <p>일상 생활에 활용할 친구들의 엽사를 올려봐요!</p>
                        </div>
                     </div>
                </div>
            </div>
        </div>
   </section>
{% endblock content %}